@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import 'tailwindcss';

@font-face {
    font-family: 'League Spartan';
    src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

@theme {
    --font-spartan: 'League Spartan', sans-serif;
    --white: hsl(0, 100%, 100%);
    --grey-500: hsl(0, 0%, 63%);
    --grey-800: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
}

html,
body {
    width: 100%;
    background-color: #4b4b4b;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
